@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --cor-primaria: #06040c;
    --cor-secundaria:#03C988;
    --cor--terciaria:#F1F0E8;
}
body{
    height: 100vh;/*altura de 100% o VH é viewport elementos adequados a cada proporção*/
    box-sizing: border-box;/*para img não passar do limite do body*/
    background-color:var(--cor-primaria);
    color: var(--cor--terciaria);
    font-family: 'Montserrat', sans-serif;
}
.cabecalho{
    display: flex;
    
    width: 90%;
    /* background-color: red; */
    margin: 0 auto;
    padding: 2em 0;
    /* padding: 2% 0% 0% 5%; */
    
}
.btn_menu{
    display: flex;
    gap: 80px;
    
}
.btn{
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
}
.baixar{
    
    margin-left: auto;
    padding: 0;
    display: flex;
    align-items: center;

}
.baixar__curriculo{
    
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    
}
.principal{
    width: 95%;/*largura*/
    text-align: justify;
    display: flex;
    flex-direction: column;/*direção dos FlexBox*/
    gap: 20px;
    padding: 5% 5% 5% 5%;
}
.secundario{
    display: flex; /*para todos os elementos ficarem flexiveis*/
    align-items: center; /*para os itens ficarem no centro*/
    justify-content: flex-start;
    gap: 10%;
}
.fundo_img{
    background-color: var(--cor-secundaria);
    border-radius: 35%;  
    width: 30%;
    height: 20%;
    text-align: center;
}
.foto{
    border-radius: 50%;
    width: 80%;
    height: 80%;
    padding: 10%;
}
.principal_nome{
    font-size: 2.1rem;
}
.contatos{
    display: flex;
    gap: 45px;
    padding: 5% 0% 0% 0%;   
}
.num1{
    display: flex;
    text-decoration: none;
    color: var(--cor-secundaria);
    gap: 5px;
    transition: 0.5s all;
}
.num2{
    text-decoration: none;
    color: var(--cor-secundaria);
    transition: 0.5s all;
}
.email{
    display: flex;
    padding: 5% 0% 0% 0%;
    transition: 0.5s all;
}
.e-mail{
    display: flex;
    gap: 5px;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.tema{
    color: var(--cor-primaria);
    width: 95%;
    text-align: center;
    background-color: var(--cor-secundaria);
    border-radius: 25px;
    font-family: 'Krona One', sans-serif;
    padding: 1% 0% 1% 0% ;
}
.dados{
    display: flex;
    gap: 28%;
    letter-spacing: normal;
}
.objetivos_txt{
    width: 94%;
}
.form_acad{
    display: flex;
    gap: 1%;
    width: 95%;
}
.teste{/*gambiarra*/
    padding: 0% 0% 0% 30%;
}
.ano{
    font-weight: bold;
    color: var(--cor-secundaria);
}
.experiencia{
    display: flex;
    padding: 0% 1% 0% 0%;
    width: 95%;
    gap: 11.5%;
}
.estagio_txt{
    padding: 0% 15% 0% 0%;
}
.cursos{
    width: 95%;
}
.instituicao{
    color: var(--cor-secundaria);
}
.perfil{
    width: 95%;
    text-align: center;
}
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    padding: 1% 0% 1% 0%;
    display: flex;
    justify-content: center;   
}
@media (max-width : 1200px){
    
    .cabecalho{
        flex-direction: column;
        gap: 0;
        width: 100%;
        margin: 0% 0% 0% 0%;
    }
    .btn_menu{
        justify-content: left;
        gap: 45px;
        padding: 1% 5% 0% 5%;
        
    }
    .btn{
        font-size: 1.2rem;
    }
    .baixar{
        justify-content: center;
        margin-left: 0;
        margin-top: 1em;
        
    }


    .secundario{
        flex-direction: column;

        
    }
    .principal__nome{
        padding: 0% 5% 0% 0%;
    }
    .contatos{
        flex-direction: column;
        gap: 0;
    }
    .num1{
        padding: 1% 0% 0% 0%;
    }
    .num2{
        padding: 1% 0% 0% 8%;
       
    }
    .principal_nome{
        width: 95%;
    }
    .email{
        padding: 1% 0% 0% 0%;
       
    }
    .dados{
        flex-direction: column;
    }
    .form_acad{
        flex-direction: column;
    }
    .teste{
        padding: 0% 0% 0% 0%;
    }
    .experiencia{
        flex-direction: column;
    }
    .img{ 
        width: 70%;
        height: 70%;
    }
    .pc{

        width: 80%;
        height: 70%;
        
    }
}
.contatos:hover{
    font-size: 1.2rem;
}
.email:hover{
    font-size: 1.2rem;
}
.baixar__curriculo:hover{
    color: var(--cor--terciaria);
}